<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /Final_Assignment_Web_Development_2025-06-19/
  RewriteRule ^admin/products\.php$ - [L]
  
  # Allow access to CSS files
  <FilesMatch "\.(css|js|jpg|png|gif)$">
      Order allow,deny
      Allow from all
  </FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^products\.php$ - [L]
</IfModule>
